/*fonts imported from google*/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Libre+Baskerville:ital@1&family=Merienda:wght@300..900&family=Protest+Revolution&family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Shadows+Into+Light&display=swap');

body{border: 8px double pink;/*double lined pink border*/
    background-image: url(https://i.pinimg.com/736x/1e/b8/c0/1eb8c07261a3b04048225ad21a640ec1.jpg);/* background to page url to img link*/
     background-size: cover;/*img stretched to cover page*/
}


.main-supporting{display: grid;/*grid layout used*/
    grid-template-columns:repeat(2,1fr);/*divides in to 2 col */
    gap: 50px;/*space between  columns */
    padding: 20px;/*space between edge or margin*/
    margin: 30px;/*space for sides*/
}

h1{font-family: "Protest Revolution", sans-serif;/*font selected */
    text-shadow: 5px 5px 5px rgb(237, 235, 229);/*color of shadow behind text */
    font-size: 800%;/*size of text */
    color: #88a5b7;/*color of text */
     margin-left: 30px;/*space for sides from the left*/
}

h2{ font-family: "Shadows Into Light", serif;/*font selected */
    font-size: 300%;/*size of text */
     color: rgb(255, 255, 255);/*color of text */
    text-decoration:underline rgb(233, 80, 139);  /*color of underline */
    text-decoration-style: wavy;/*turns underline in to a wave*/
}

h3{ font-family: "Playwrite GB S", serif;/*font selected */
    font-size: x-large;/*size of text */
}


.sidebar{font-size: medium;/*size of text */
    position:absolute;
    margin: 30px;/*space for sides*/
    background-color:rgba(245, 101, 163, 0.547);/*color dark pink transport  */
    width:125px;/*how wide sidebar will be */
    top:8%;/*just under the top of page*/
    right: 0;/*moves to the right of page*/
    height:fit-content;/*hight is just big enough to hold whats inside*/
    padding: 30px;/*space between edge or margin*/
    text-align: right;/*text are on the right side*/
}

.sidebar h3{color: blanchedalmond;}/*color of text */

li{list-style-type: none;}/*removes dots from list*/

.summary{padding: 20px; /*space between edge or margin*/
    text-align: left;/*text starts on the most left side */
    width: 400px;/*width of element*/
    color:  azure;/*color of text */
    font-size: large;/*size of text */
}

.page-wrapper{margin-right: 200px;}/*space between to the right */

.intro{padding: 30px;}/*space between edge or margin*/

.preamble{margin: 30px;/*space for sides*/
    padding: 20px; /*space between edge or margin*/
    color: azure;/*color of text */
    font-size: large;/*size of text */
}

a{color: azure;/*color of text */
    font-family: "Exo", sans-serif; /*font selected */
    font-size: larger; /*size of text */
    font-weight: bolder;/*how bold text is*/
}

a:hover{color: #3a6b90;text-decoration: line-through;}/*when above link the text turns blue with line across it */

a:visited{color: purple;}/*links already selected turn purple*/

.explanation, .participation, .requirements,.benefits{background-color:rgba(255, 192, 203, 0.726); /*background color pink */
    padding: 20px;/*space between edge or margin*/
    height: fit-content;/*only large enough to hold contents */
}

p{font-family: "Exo", sans-serif; font-size: large;}/*font selection and hoe big it will be */

footer{color: aliceblue;/*font color light blue*/
   background-color: #d74a709b; /*background for text pink */
   position:absolute;/*placement of footer  */
    margin: 30px;/*space for sides*/
    top: 0%;/*makes footer to go top of page */
    right: 0;/*moves footer to right corner*/
    padding: 10px;/*space between edge or margin*/
}