
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{ 
font-family: "Edu AU VIC WA NT Pre", cursive;/* font import from google  */
background-image: url(https://wallpaperbat.com/img/430099-japanese-zen-painting-wallpaper-top-free-japanese-zen-painting.jpg);
 background-size: cover;/*makes img fill entire page*/
 background-position: center ;/*aligns img to be centered in page */
 background-repeat: no-repeat;}/*does not repeat img */

 .page-wrapper{ background-color: rgba(255, 228, 196, 0.501);/*middle section color half transparent */
   margin-left: 200px;/*push mid section in to make room for aside */
  padding-left: 30px;}/*space between side of mid section and text space */

 .sidebar{
    height: 100%; /*makes nav span length of page*/
    width: 200px;/*with of the nav */
    position: fixed;/*nav sticks even when scrolling */
    top: 0;/*positions to top of page */
    left: 0;/*positions to left of the page */
    background-color: #f3842a;/*color of background of nav*/
  }
  
.sidebar li{list-style-type: none;}/*removes dots from list*/


.summary {background-color: rgba(48, 29, 11, 0.584);/*background color black semitransparent*/
  padding: 10px;/*space of text from edge of box*/
  margin: 0;/*space around elements*/
  width: 200px; /*width of the box */
  height: 300px;/*hight to if text */
  float: right;/*sets box to right of the page */
  }

.summary p{color: rgb(255, 255, 255);font-size: large;}

a:link{color: rgb(31, 4, 4);}

a:visited{color: rgb(59, 48, 35);}

h1{ color: black;font-size: large;
	margin-top: 5px; 
	margin-bottom: 10px; 
	width: 300px; 
	height: 40px; 
	float: right;
}

h1::first-letter{color: rgb(0, 0, 0);font-size: xx-large;}



 p{font-size: large;
     font-family: "Merienda", cursive;
     }

h3::first-letter{color: rgb(0, 0, 0);font-size: xx-large;}
footer{font-weight: bold;text-align:center;}